<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <div class="background"></div>
    <!--Creating Index page based on Wire Frame -->
    <div class="robototo">
        <div class="content text-center">
            <!--Application title-->
            <h1 clas="header" style="font-size: 100px;">Welcome To Our App</h1>
            <p style="font-weight: bold; color: rgb(255, 0, 230); padding-top: 100px;">Create Your Own Events to Host!</p>
            <!--Adding Login Button-->
            <a href="/create"><button type="button" class="bn" onclick="" style="width: 150px;">Create</button></a>
        </div>
        
        <div class="mainContent">
            <!--footer with place holder buttons-->
            <h3 id="acme">━━━━━━━<br>NFBF</h3>
            <h3 id="rightOfSpeech">"To have the right of speech"</h3>
            <P id="author">NotFastButFurious</P>
            <div class="button-container">
                <!-- <button type="button" class="contact" onclick="">About Us</button>
                <button type="button" class="contact" onclick="">Help</button>
                <button type="button" class="contact" onclick="">Legal</button> -->
                <a href="/about">
                <button class="btns" type="button">
                    <strong>ABOUT</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
                    <div id="glow">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                </button>
                </a>
                <a href="/help">
                <button class="btns" type="button">
                    <strong>HELP</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
                    <div id="glow">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                </button>
                </a>
                <a href="legal">
                <button class="btns" type="button">
                    <strong>LEGAL</strong>
                    <div id="container-stars">
                      <div id="stars"></div>
                    </div>
                  
                    <div id="glow">
                      <div class="circle"></div>
                      <div class="circle"></div>
                    </div>
                </button>
                </a>
            </div>
        </div>

        
    </div>

    

    
    
</body>
</html>